# <center>Laboratorium Analiza i bazy danych </center>

## <center>Łączenie tabel, podzapytania i funkcje agregujące</center>

## Przykładowe tabele obrazujące łączenie

Do zobrazowania operacji łączenia zostaną użyte tabele:

```sql
CREATE TABLE shape_a (
    id INT PRIMARY KEY,
    shape VARCHAR (100) NOT NULL
);
 
CREATE TABLE shape_b (
    id INT PRIMARY KEY,
    shape VARCHAR (100) NOT NULL
);
```
 
Polecenie CREATE TABLE tworzy tabelę o zadanej nazwie i strukturze. Ogólna postać to:
```sql
CREATE TABLE tab_name (
    col_name1 data_type constrain,
    col_name1 data_type constrain,
    ...
);
```
Należy uzupełnić ją danymi:
```sql
INSERT INTO shape_a (id, shape)
VALUES
    (1, 'Trójkąt'),
    (2, 'Kwadrat'),
    (3, 'Deltoid'),
    (4, 'Traper');
 
INSERT INTO shape_b (id, shape)
VALUES
    (1, 'Kwadrat'),
    (2, 'Trójkąt'),
    (3, 'Romb'),
    (4, 'Równoległobok');
```
Komenda INSERT INTO pozwala na dodanie do tabeli rekordów. Ogólna postać to:

```sql
INSERT INTO tab_name (col1_name, col2_name2, ...) 
VALUES
    (val1_col1, val2_col2),
    (val2_col1, val2_col2),
    ...
```

## Inner join 

Jest to podstawowy rodzaj złączenie. Ten sposób złączenia wybiera  te wiersze, dla których warunek złączenia jest spełniony. W żadnej z łączonych tabel kolumna użyta do łączenia nie może mieć wartości NULL. 

#### Przykład:
```sql
SELECT
    a.id id_a,
    a.shape shape_a,
    b.id id_b,
    b.shape shape_b
FROM
    shape_a a
INNER JOIN shape_b b ON a.shape = b.shape;
```
W zapytaniu powyżej użyto *aliasów* nazw tabel i column wynikowych, jest to szczególnie przydatne przy długich nazwach tabel i wprowadza czytelność w zapytaniu.

#### Wynik:
|id_a|shape_a|id_b|shape_b|
|-|-|-|-|
|1|Trójkąt|2|Trójkąt|
|2|Kwadrat|1|Kwadrat|

## OUTER JOIN

Istnieją trzy rodzaje złączeń OUTER:
- LEFT OUTER JOIN,
- RIGHT OUTER JOIN,
- FULL OUTER JOIN.

### LEFT OUTER JOIN

Ten rodzaj złączenie zwróci wszystkie rekordy z lewej tablicy i dopasuje do nich rekordy z prawej tablicy które spełniją zadany warunek złączenia. Jeżeli w prawej tablicy nie występują rekordy spełnijące warunek złączenia z lewą w ich miejscu pojawią się wartości NULL.

#### Przykład 1:
```sql
SELECT
    a.id id_a,
    a.shape shape_a,
    b.id id_b,
    b.shape shape_b
FROM
    shape_a a
LEFT JOIN shape_b b ON a.shape = b.shape;
```
#### Wynik:
|id_a|shape_a|id_b|shape_b|
|-|-|-|-|
|1|Trójkąt|2|Trójkąt|
|2|Kwadrat|1|Kwadrat|
|3|Deltoid|NULL|NULL|
|4|Traper|NULL|NULL|

#### Przykład 2:
```sql
SELECT
    b.id id_b,
    b.shape shape_b,
    a.id id_a,
    a.shape shape_a   
FROM
    shape_b b
LEFT JOIN shape_a a ON a.shape = b.shape;
```
#### Wynik:
|id_a|shape_a|id_b|shape_b|
|-|-|-|-|
|1|Kwadrat|2|Kwadrat|
|2|Trójkąt|1|Trójkąt|
|3|Romb|NULL|NULL|
|4|Równoległobok|NULL|NULL|

### RIGHT OUTER JOIN

Działa jak left outer join z tym, że prawa tablica w zapytaniu jest brana w całości.

#### Przykład:
```sql
SELECT
    a.id id_a,
    a.shape shape_a,
    b.id id_b,
    b.shape shape_b
FROM
    shape_a a
RIGHT JOIN shape_b b ON a.shape = b.shape;
```

#### Wynik:
|id_a|shape_a|id_b|shape_b|
|-|-|-|-|
|2|Kwadrat|1|Kwadrat|
|1|Trójkąt|2|Trójkąt|
|NULL|NULL|3|Romb|
|NULL|NULL|4|Równoległobok|


### FULL OUTER JOIN

Jest złączeniem które zwraca:
- wiersze dla których warunek złączenia jest spełniony,
- wiersze z lewej tabeli dla których nie ma odpowiedników w prawej,
- wiersze z prawej tabeli dla których nie ma odpowiedników w lewej. 

#### Przykład:
```sql
SELECT
    a.id id_a,
    a.shape shape_a,
    b.id id_b,
    b.shape shape_b
FROM
    shape_a a
FULL JOIN shape_b b ON a.shape = b.shape;
```
|id_a|shape_a|id_b|shape_b|
|-|-|-|-|
|1|Trójkąt|2|Trójkąt|
|2|Kwadrat|1|Kwadrat|
|3|Deltoid"|NULL|NULL|
|4|Traper|NULL|NULL|
|NULL|NULL|3|Romb|
|NULL|NULL|4|Równoległobok|

## Podzapytania

Podzapytanie zagnieżdżone SELECT znajduje się wewnątrz zewnętrznego zapytania SELECT, np. po klauzuli WHERE, HAVING lub FROM. W przypadku tego rodzaju zapytań w pierwszej kolejności wykonywane są wewnętrzne zapytania SELECT, a ich wynik jest wykorzystywany do zewnętrznego zapytania SELECT. Stąd łatwo zuważyć, że mogą one służyć do poprawy wydajności obsługi zapytania. Należy dobierać podzapytania tak by najbardziej zagnieżdżone podzapytanie zawierało najmniejszy zbiór poszukiwań. 

#### Przykład:
Jeżeli chcemy znaleźć w bazie informację o tytułach filmów zwróconych w zadanym okresie możemy wykonać następujące zapytanie:
```sql
SELECT
   film_id,
   title
FROM
   film
WHERE
   film_id IN (
      SELECT
         inventory.film_id
      FROM
         rental
      INNER JOIN inventory ON inventory.inventory_id = rental.inventory_id
      WHERE
         return_date BETWEEN '2005-05-29'
      AND '2005-05-30'
   );
```

#### Wynik
|film_id|title|
|-|-|
|307|Fellowship Autumn|
|255|Driving Polish|
|388|Gunfight Moon|
|130|Celebrity Horn|
|563|Massacre Usual|
|397|Hanky October|
|...|...|

### Używanie podzapytań

Pod zapytania mogą być używane w :
- SELECT,
- UPDATE,
- DELETE,
- Funkcjach agregujących,
- Do definiowania tabel tymczasowych.

Używając podzapytań zapytania SQL szybko mogą stać się mało czytelne. Przez co będą trudne w zrozumieniu i późniejszym utrzymaniu. W celu analizy zapytań można użyć klauzuli __EXPLAIN__, która przeanalizuje zapytanie. Klauzula ta może służyć również do porównywania wydajności zapytań

#### Przykład:
```sql
EXPLAIN SELECT
   *
FROM
   film
```

## Funkcje agregujące

Funkcje agregujące wykonują obliczenia na zestawie wierszy i zwracają pojedynczy wiersz. PostgreSQL udostępnia wszystkie standardowe funkcje agregujące SQL w następujący sposób:
- AVG () - zwraca średnią wartość.
- COUNT () - zwraca liczbę wartości.
- MAX () - zwraca maksymalną wartość.
- MIN () - zwraca minimalną wartość.
- SUM () - zwraca sumę wszystkich lub różnych wartości.

Pełna lista funkcji agregującej: https://www.postgresql.org/docs/9.5/functions-aggregate.html

Często używamy funkcji agregujących z klauzulą GROUP BY w instrukcji SELECT. W tych przypadkach klauzula GROUP BY dzieli zestaw wyników na grupy wierszy i funkcja agregująca wykonuje obliczenia dla każdej grupy, np. maksimum, minimum, średnia itp. Funkcji agregujących można używać funkcji agregujących jako wyrażeń tylko w następujących klauzulach: SELECT i HAVING.

### GROUP BY
Klauzula GROUP BY dzieli wiersze zwrócone z instrukcji SELECT na grupy. Dla  każdej grupy można zastosować funkcję agregującą, np. SUM aby obliczyć sumę pozycji lub
COUNT aby uzyskać liczbę elementów w grupach.

Poniższa instrukcja ilustruje składnię klauzuli GROUP BY:
```sql
SELECT 
    column_1, 
    aggregate_function(column_2)
FROM 
    tbl_name
GROUP BY 
    column_1;
```
Klauzula GROUP BY musi pojawić się zaraz po klauzuli FROM lub WHERE, n0astępnie GROUP BY zawiera listę  kolumna oddzielonych przecinkami. 

### HAVING
Często używamy klauzuli HAVING w połączeniu z klauzulą GROUP BY do filtrowania wierszy grup
które nie spełniają określonego warunku.

Poniższa instrukcja ilustruje typową składnię klauzuli HAVING:
```sql
SELECT
    column_1,
    aggregate_function (column_2)
FROM
    tbl_name
GROUP BY
    column_1
HAVING
    condition;
```
Klauzula HAVING ustawia warunek dla wierszy grup utworzonych przez klauzulę GROUP BY.  

Klauzula GROUP BY ma zastosowanie, podczas gdy klauzula WHERE określa wcześniej warunki dla poszczególnych wierszy.

## Zadania wprowadzające
Wykonaj zapytania przy użyciu DBMS:  
  
1. Znajdź listę wszystkich filmów o tej samej długości.
2. Znajdź wszystkich klientów mieszkających w tym samym mieście.
3. Oblicz średni koszt wypożyczenia wszystkich filmów.
4. Oblicz i wyświetl liczbę filmów we wszystkich kategoriach.
5. Wyświetl liczbę wszystkich klientów pogrupowanych według kraju.
6. Wyświetl informacje o sklepie, który ma więcej niż 100 klientów i mniej niż 300 klientów.
7. Wybierz wszystkich klientów, którzy oglądali filmy ponad 200 godzin.
8. Oblicz średnią wartość wypożyczenia filmu.
9. Oblicz średnią wartość długości filmu we wszystkich kategoriach.
10. Znajdź najdłuższe tytuły filmowe we wszystkich kategoriach.
11. Znajdź najdłuższy film we wszystkich kategoriach. Porównaj wynik z pkt 10.

In [2]:
import psycopg2 as pg
import pandas as pd

connection = pg.connect(host='pgsql-196447.vipserv.org', port=5432, dbname='wbauer_adb', user='wbauer_adb', password='adb2020')

pd.set_option("display.max_rows", None, "display.max_columns", None)

**Zadanie 1** Znajdź listę wszystkich filmów o tej samej długości.

In [125]:
df = pd.read_sql('\
SELECT length, COUNT(film_id) "number of films" FROM film \
GROUP BY length \
ORDER BY length ASC \
',con=connection)
print(df)

     length  number of films
0        46                5
1        47                7
2        48               11
3        49                5
4        50                9
5        51                7
6        52                7
7        53                9
8        54                6
9        55                2
10       56                5
11       57                7
12       58                7
13       59                9
14       60                8
15       61               10
16       62                6
17       63                9
18       64                9
19       65                7
20       66                2
21       67                8
22       68                5
23       69                6
24       70                7
25       71                7
26       72                4
27       73               12
28       74               12
29       75               10
30       76                7
31       77                6
32       78                6
33       79                6
34       80               10
35       81                3
36       82                7
37       83                6
38       84               13
39       85               17
40       86                5
41       87                6
42       88                4
43       89                6
44       90                5
45       91                6
46       92               11
47       93                8
48       94                4
49       95                2
50       96                2
51       97                4
52       98                8
53       99                8
54      100               12
55      101                7
56      102               11
57      103                9
58      104                6
59      105                6
60      106                6
61      107               10
62      108                5
63      109                7
64      110                9
65      111                7
66      112               13
67      113                8
68      114               10
69      115                7
70      116                4
71      117                5
72      118                8
73      119                6
74      120                9
75      121                8
76      122               11
77      123                7
78      124                4
79      125                7
80      126                9
81      127                5
82      128                7
83      129                7
84      130                6
85      131                5
86      132                8
87      133                5
88      134                5
89      135               10
90      136                9
91      137                9
92      138                6
93      139               11
94      140                5
95      141                7
96      142                7
97      143                7
98      144                8
99      145                7
100     146                5
101     147                9
102     148                7
103     149                6
104     150                8
105     151                7
106     152                9
107     153                9
108     154                7
109     155                6
110     156                4
111     157                6
112     158                6
113     159                6
114     160                6
115     161                9
116     162                5
117     163                7
118     164                4
119     165                5
120     166                5
121     167                7
122     168                4
123     169                6
124     170                4
125     171                8
126     172                8
127     173                7
128     174                6
129     175                6
130     176               10
131     177                6
132     178               10
133     179               13
134     180                7
135     181               10
136     182                6
137     183                5
138     184                8
139     185               10

/home/kuba/anaconda3/envs/jakubbajek/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

**Zadanie 2** Znajdź wszystkich klientów mieszkających w tym samym mieście.

In [141]:
df = pd.read_sql('\
SELECT c.city, COUNT(cu.customer_id) "customers" FROM customer cu \
INNER JOIN address a ON a.address_id = cu.address_id \
INNER JOIN city c ON c.city_id = a.city_id \
GROUP BY c.city \
ORDER BY c.city \
',con=connection)
print(df)

                           city  customers
0            A Corua (La Corua)          1
1                          Abha          1
2                     Abu Dhabi          1
3                          Acua          1
4                         Adana          1
5                   Addis Abeba          1
6                          Aden          1
7                         Adoni          1
8                    Ahmadnagar          1
9                      Akishima          1
10                        Akron          1
11                       al-Ayn          1
12                  Alessandria          1
13                    al-Hawiya          1
14        Allappuzha (Alleppey)          1
15                      Allende          1
16                    al-Manama          1
17              Almirante Brown          1
18                   al-Qadarif          1
19                     al-Qatif          1
20                     Alvorada          1
21                     Ambattur          1
22                   Amersfoort          1
23                       Amroha          1
24               Angra dos Reis          1
25                      Anpolis          1
26                  Antofagasta          1
27          Aparecida de Goinia          1
28                    Apeldoorn          1
29                     Araatuba          1
30                         Arak          1
31                      Arecibo          1
32                    Arlington          1
33                       Ashdod          1
34                     Ashgabat          1
35                     Ashqelon          1
36                      Asuncin          1
37                      Athenai          1
38                       Atinsk          1
39                      Atlixco          1
40      Augusta-Richmond County          1
41                       Aurora          2
42                   Avellaneda          1
43                          Bag          1
44                  Baha Blanca          1
45                     Baicheng          1
46                       Baiyin          1
47                         Baku          1
48                      Balaiha          1
49                    Balikesir          1
50                    Balurghat          1
51                      Bamenda          1
52          Bandar Seri Begawan          1
53                       Banjul          1
54                    Barcelona          1
55                        Basel          1
56                      Bat Yam          1
57                       Batman          1
58                        Batna          1
59                   Battambang          1
60                       Baybay          1
61                      Bayugan          1
62                        Bchar          1
63                        Beira          1
64                     Bellevue          1
65                         Belm          1
66                     Benguela          1
67                  Beni-Mellal          1
68                   Benin City          1
69                      Bergamo          1
70      Berhampore (Baharampur)          1
71                         Bern          1
72                    Bhavnagar          1
73                     Bhilwara          1
74                   Bhimavaram          1
75                       Bhopal          1
76                     Bhusawal          1
77                      Bijapur          1
78                      Bilbays          1
79                      Binzhou          1
80                      Birgunj          1
81                       Bislig          1
82                     Blumenau          1
83                    Boa Vista          1
84                     Boksburg          1
85                     Botosani          1
86                   Botshabelo          1
87                     Bradford          1
88                      Braslia          1
89                   Bratislava          1
90                      Brescia          1
91                        Brest          1
92                     Brindisi          1
93                     Brockton          1
94                    Bucuresti          1
95                 Buenaventura          1
96                    Bydgoszcz          1
97                      Cabuyao          1
98                       Callao          1
99                     Cam Ranh          1
100                  Cape Coral          1
101                     Caracas          1
102                      Carmen          1
103                      Cavite          1
104                     Cayenne          1
105                      Celaya          1
106                  Chandrapur          1
107                    Changhwa          1
108                   Changzhou          1
109                      Chapra          1
110            Charlotte Amalie          1
111                  Chatsworth          1
112                       Cheju          1
113                      Chiayi          1
114                    Chisinau          1
115                     Chungho          1
116                     Cianjur          1
117                      Ciomas          1
118                     Ciparay          1
119              Citrus Heights          1
120           Citt del Vaticano          1
121             Ciudad del Este          1
122                 Clarksville          1
123      Coacalco de Berriozbal          1
124               Coatzacoalcos          1
125                     Compton          1
126                    Coquimbo          1
127                      Crdoba          1
128                   Cuauhtmoc          1
129                     Cuautla          1
130                  Cuernavaca          1
131                       Cuman          1
132                 Czestochowa          1
133                        Dadu          1
134                      Dallas          1
135                      Datong          1
136                  Daugavpils          1
137                       Davao          1
138                      Daxian          1
139                      Dayton          1
140                   Deba Habe          1
141                     Denizli          1
142                       Dhaka          1
143              Dhule (Dhulia)          1
144                    Dongying          1
145       Donostia-San Sebastin          1
146               Dos Quebradas          1
147                    Duisburg          1
148                      Dundee          1
149                   Dzerzinsk          1
150                         Ede          1
151                Effon-Alaiye          1
152                     El Alto          1
153                   El Fuerte          1
154                    El Monte          1
155                      Elista          1
156                    Emeishan          1
157                       Emmen          1
158                       Enshi          1
159                    Erlangen          1
160                     Escobar          1
161                     Esfahan          1
162                   Eskisehir          1
163                      Etawah          1
164                      Ezeiza          1
165                       Ezhou          1
166                        Faaa          1
167                    Fengshan          1
168                   Firozabad          1
169                   Florencia          1
170                     Fontana          1
171                    Fukuyama          1
172                    Funafuti          1
173                        Fuyu          1
174                      Fuzhou          1
175                 Gandhinagar          1
176                Garden Grove          1
177                     Garland          1
178                    Gatineau          1
179                   Gaziantep          1
180                        Gijn          1
181                     Gingoog          1
182                      Goinia          1
183                   Gorontalo          1
184               Grand Prairie          1
185                        Graz          1
186                  Greensboro          1
187                 Guadalajara          1
188                      Guaruj          1
189         guas Lindas de Gois          1
190                    Gulbarga          1
191                     Hagonoy          1
192                     Haining          1
193                    Haiphong          1
194                      Haldia          1
195                     Halifax          1
196                   Halisahar          1
197                 Halle/Saale          1
198                        Hami          1
199                    Hamilton          1
200                       Hanoi          1
201                     Hidalgo          1
202                Higashiosaka          1
203                        Hino          1
204                   Hiroshima          1
205                     Hodeida          1
206                      Hohhot          1
207                  Hoshiarpur          1
208                     Hsichuh          1
209                      Huaian          1
210               Hubli-Dharwad          1
211           Huejutla de Reyes          1
212                Huixquilucan          1
213                      Hunuco          1
214                      Ibirit          1
215                        Idfu          1
216                         Ife          1
217                      Ikerre          1
218                      Iligan          1
219                      Ilorin          1
220                        Imus          1
221                       Inegl          1
222                        Ipoh          1
223                     Isesaki          1
224                     Ivanovo          1
225                       Iwaki          1
226                     Iwakuni          1
227                    Iwatsuki          1
228                   Izumisano          1
229                      Jaffna          1
230                      Jaipur          1
231                     Jakarta          1
232            Jalib al-Shuyukh          1
233                    Jamalpur          1
234                   Jaroslavl          1
235             Jastrzebie-Zdrj          1
236                       Jedda          1
237                      Jelets          1
238                      Jhansi          1
239                    Jinchang          1
240                      Jining          1
241                     Jinzhou          1
242                     Jodhpur          1
243                Johannesburg          1
244                      Joliet          1
245                  Jos Azueta          1
246           Juazeiro do Norte          1
247                Juiz de Fora          1
248                       Junan          1
249                       Jurez          1
250                       Kabul          1
251                      Kaduna          1
252                Kakamigahara          1
253                 Kaliningrad          1
254                      Kalisz          1
255                    Kamakura          1
256                   Kamarhati          1
257         Kamjanets-Podilskyi          1
258                      Kamyin          1
259                    Kanazawa          1
260                 Kanchrapara          1
261                 Kansas City          1
262                      Karnal          1
263                     Katihar          1
264                  Kermanshah          1
265                       Kilis          1
266                   Kimberley          1
267                     Kimchon          1
268                   Kingstown          1
269              Kirovo-Tepetsk          1
270                      Kisumu          1
271                       Kitwe          1
272                  Klerksdorp          1
273                     Kolpino          1
274                     Konotop          1
275                    Koriyama          1
276                       Korla          1
277                     Korolev          1
278     Kowloon and New Kowloon          1
279                  Kragujevac          1
280                      Ktahya          1
281                     Kuching          1
282                  Kumbakonam          1
283                   Kurashiki          1
284                      Kurgan          1
285                       Kursk          1
286                      Kuwana          1
287                      La Paz          1
288                    La Plata          1
289                   La Romana          1
290                       Laiwu          1
291                   Lancaster          1
292                    Laohekou          1
293                   Lapu-Lapu          1
294                      Laredo          1
295                    Lausanne          1
296                     Le Mans          1
297               Lengshuijiang          1
298                      Leshan          1
299                 Lhokseumawe          1
300                   Liaocheng          1
301                     Liepaja          1
302                    Lilongwe          1
303                        Lima          1
304                     Lincoln          1
305                        Linz          1
306                     Lipetsk          1
307                     Livorno          1
308                   Ljubertsy          1
309                        Loja          1
310                      London          2
311                      Lublin          1
312                  Lubumbashi          1
313                     Lungtan          1
314                     Luzinia          1
315                      Madiun          1
316                   Mahajanga          1
317                      Maikop          1
318                        Malm          1
319                  Manchester          1
320                 Mandaluyong          1
321             Mandi Bahauddin          1
322                    Mannheim          1
323                    Maracabo          1
324                      Mardan          1
325                      Maring          1
326                      Masqat          1
327                   Matamoros          1
328                      Matsue          1
329                     Meixian          1
330                     Memphis          1
331                       Merlo          1
332                    Mexicali          1
333                       Miraj          1
334                   Mit Ghamr          1
335                  Miyakonojo          1
336                    Mogiljov          1
337                   Molodetno          1
338                    Monclova          1
339                      Monywa          1
340                      Moscow          1
341                       Mosul          1
342                    Mukateve          1
343            Munger (Monghyr)          1
344                      Mwanza          1
345                  Mwene-Ditu          1
346                    Myingyan          1
347                      Mysore          1
348                 Naala-Porto          1
349           Nabereznyje Telny          1
350                       Nador          1
351                      Nagaon          1
352                  Nagareyama          1
353                   Najafabad          1
354                        Naju          1
355                Nakhon Sawan          1
356                    Nam Dinh          1
357                      Namibe          1
358                      Nantou          1
359                     Nanyang          1
360                     NDjamna          1
361                   Newcastle          1
362               Nezahualcyotl          1
363                   Nha Trang          1
364                  Niznekamsk          1
365                    Novi Sad          1
366                Novoterkassk          1
367                   Nukualofa          1
368                        Nuuk          1
369                       Nyeri          1
370             Ocumare del Tuy          1
371                   Ogbomosho          1
372                       Okara          1
373                     Okayama          1
374                     Okinawa          1
375                     Olomouc          1
376                    Omdurman          1
377                       Omiya          1
378                        Ondo          1
379                    Onomichi          1
380                      Oshawa          1
381                    Osmaniye          1
382                       ostka          1
383                        Otsu          1
384                        Oulu          1
385            Ourense (Orense)          1
386                         Owo          1
387                         Oyo          1
388                      Ozamis          1
389                       Paarl          1
390             Pachuca de Soto          1
391                    Pak Kret          1
392          Palghat (Palakkad)          1
393              Pangkal Pinang          1
394                     Papeete          1
395                    Parbhani          1
396                   Pathankot          1
397                     Patiala          1
398                      Patras          1
399                    Pavlodar          1
400                    Pemalang          1
401                      Peoria          1
402                     Pereira          1
403                  Phnom Penh          1
404                   Pingxiang          1
405                  Pjatigorsk          1
406                       Plock          1
407                          Po          1
408                       Ponce          1
409                   Pontianak          1
410              Poos de Caldas          1
411                  Portoviejo          1
412                 Probolinggo          1
413                 Pudukkottai          1
414                        Pune          1
415             Purnea (Purnia)          1
416                  Purwakarta          1
417                   Pyongyang          1
418                      Qalyub          1
419                 Qinhuangdao          1
420                     Qomsheh          1
421                     Quilmes          1
422                  Rae Bareli          1
423                      Rajkot          1
424                      Rampur          1
425                    Rancagua          1
426                      Ranchi          1
427               Richmond Hill          1
428                   Rio Claro          1
429                      Rizhao          1
430                     Roanoke          1
431                     Robamba          1
432                    Rockford          1
433                        Ruse          1
434                  Rustenburg          1
435                  Saarbrcken          1
436                  Sagamihara          1
437                 Saint Louis          1
438                 Saint-Denis          1
439                         Sal          1
440                      Salala          1
441                   Salamanca          1
442                     Salinas          1
443                    Salzburg          1
444                     Sambhal          1
445              San Bernardino          1
446  San Felipe de Puerto Plata          1
447     San Felipe del Progreso          1
448  San Juan Bautista Tuxtepec          1
449                 San Lorenzo          1
450        San Miguel de Tucumn          1
451                       Sanaa          1
452         Santa Brbara dOeste          1
453                     Santa F          1
454                  Santa Rosa          1
455      Santiago de Compostela          1
456  Santiago de los Caballeros          1
457                  Santo Andr          1
458                       Sanya          1
459                      Sasebo          1
460                       Satna          1
461                      Sawhaj          1
462                    Serpuhov          1
463                Shahr-e Kord          1

/home/kuba/anaconda3/envs/jakubbajek/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

**Zadanie 3** Oblicz średni koszt wypożyczenia wszystkich filmów.

In [160]:
# Średnia zapłata przy pożyczaniu danego filmu
# df = pd.read_sql('\
# SELECT f.film_id, f.title, AVG(p.amount) "average rental cost" FROM rental r \
# INNER JOIN inventory i ON i.inventory_id = r.inventory_id \
# INNER JOIN film f ON f.film_id = i.film_id \
# INNER JOIN payment p ON p.rental_id = r.rental_id \
# GROUP BY f.film_id \
# ORDER BY f.film_id \
# ',con=connection)
# print(df)

df = pd.read_sql('\
SELECT AVG(amount) "Average cost of film rental" FROM payment \
',con=connection)
print(df)

   Average cost of film rental
0                     4.200606

/home/kuba/anaconda3/envs/jakubbajek/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

**Zadanie 4** Oblicz i wyświetl liczbę filmów we wszystkich kategoriach.

In [164]:
df = pd.read_sql('\
SELECT c.name category, COUNT(f.film_id) "number of films" FROM film f \
INNER JOIN film_category fc ON fc.film_id = f.film_id \
INNER JOIN category c ON c.category_id = fc.category_id \
GROUP BY category \
ORDER BY category ASC\
',con=connection)
print(df)

       category  number of films
0        Action               64
1     Animation               66
2      Children               60
3      Classics               57
4        Comedy               58
5   Documentary               68
6         Drama               62
7        Family               69
8       Foreign               73
9         Games               61
10       Horror               56
11        Music               51
12          New               63
13       Sci-Fi               61
14       Sports               74
15       Travel               57

/home/kuba/anaconda3/envs/jakubbajek/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

**Zadanie 5** Wyświetl liczbę wszystkich klientów pogrupowanych według kraju.

In [174]:
df = pd.read_sql('\
SELECT co.country, COUNT(cu.customer_id) "customers" FROM customer cu \
INNER JOIN address a ON a.address_id = cu.address_id \
INNER JOIN city ci ON ci.city_id = a.city_id \
INNER JOIN country co ON co.country_id = ci.country_id \
GROUP BY co.country \
ORDER BY customers DESC, co.country\
',con=connection)
print(df)

                                   country  customers
0                                    India         60
1                                    China         53
2                            United States         36
3                                    Japan         31
4                                   Mexico         30
5                                   Brazil         28
6                       Russian Federation         28
7                              Philippines         20
8                                   Turkey         15
9                                Indonesia         14
10                               Argentina         13
11                                 Nigeria         13
12                            South Africa         11
13                                  Taiwan         10
14                          United Kingdom          9
15                                    Iran          8
16                                  Poland          8
17                                 Germany          7
18                                   Italy          7
19                               Venezuela          7
20                                Colombia          6
21                                   Egypt          6
22                                 Ukraine          6
23                                 Vietnam          6
24                                  Canada          5
25                             Netherlands          5
26                                Pakistan          5
27                            Saudi Arabia          5
28                             South Korea          5
29                                   Spain          5
30                                  France          4
31                                  Israel          4
32                                    Peru          4
33                                   Yemen          4
34                                 Algeria          3
35                                 Austria          3
36                              Bangladesh          3
37                                   Chile          3
38                      Dominican Republic          3
39                                 Ecuador          3
40                                Malaysia          3
41                                 Morocco          3
42                              Mozambique          3
43                                Paraguay          3
44                             Switzerland          3
45                                Tanzania          3
46                                Thailand          3
47                    United Arab Emirates          3
48                                  Angola          2
49                              Azerbaijan          2
50                                 Belarus          2
51                                 Bolivia          2
52                                Bulgaria          2
53                                Cambodia          2
54                                Cameroon          2
55   Congo, The Democratic Republic of the          2
56                        French Polynesia          2
57                                  Greece          2
58                               Kazakstan          2
59                                   Kenya          2
60                                  Latvia          2
61                                 Myanmar          2
62                                    Oman          2
63                             Puerto Rico          2
64                                 Romania          2
65                                   Sudan          2
66                              Yugoslavia          2
67                             Afghanistan          1
68                          American Samoa          1
69                                Anguilla          1
70                                 Armenia          1
71                                 Bahrain          1
72                                  Brunei          1
73                                    Chad          1
74                          Czech Republic          1
75                                 Estonia          1
76                                Ethiopia          1
77                           Faroe Islands          1
78                                 Finland          1
79                           French Guiana          1
80                                  Gambia          1
81                               Greenland          1
82           Holy See (Vatican City State)          1
83                               Hong Kong          1
84                                 Hungary          1
85                                    Iraq          1
86                                  Kuwait          1
87                           Liechtenstein          1
88                               Lithuania          1
89                              Madagascar          1
90                                  Malawi          1
91                                 Moldova          1
92                                   Nauru          1
93                                   Nepal          1
94                             New Zealand          1
95                             North Korea          1
96                                  Runion          1
97        Saint Vincent and the Grenadines          1
98                                 Senegal          1
99                                Slovakia          1
100                              Sri Lanka          1
101                                 Sweden          1
102                                  Tonga          1
103                                Tunisia          1
104                           Turkmenistan          1
105                                 Tuvalu          1
106                   Virgin Islands, U.S.          1
107                                 Zambia          1

/home/kuba/anaconda3/envs/jakubbajek/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

**Zadanie 6** Wyświetl informacje o sklepie, który ma więcej niż 100 klientów i mniej niż 300 klientów.

In [197]:
df = pd.read_sql('\
SELECT store.store_id ,COUNT(customer.customer_id) customers, \
staff.first_name "manager first name", staff.last_name "manager last name", \
address.address "store address", city.city, country.country FROM store \
INNER JOIN customer ON customer.store_id = store.store_id \
INNER JOIN staff ON staff.staff_id = store.manager_staff_id \
INNER JOIN address ON address.address_id = store.address_id \
INNER JOIN city ON address.city_id = city.city_id \
INNER JOIN country ON country.country_id = city.country_id \
GROUP BY store.store_id, staff.first_name, staff.last_name, address.address, city.city, country.country \
HAVING COUNT(customer.customer_id) > 100 AND COUNT(customer.customer_id) < 300\
',con=connection)
df

,store_id,customers,manager first name,manager last name,store address,city,country
0,2,273,Jon,Stephens,28 MySQL Boulevard,Woodridge,Australia

**Zadanie 7** Wybierz wszystkich klientów, którzy oglądali filmy ponad 200 godzin.

In [18]:
#Nie używam zagnieżdzonego SELECTa, żeby wyświetlić też czas oglądania
df = pd.read_sql('\
SELECT c.customer_id, c.first_name, c.last_name, SUM(f.length) "watching time (minutes)" FROM customer c \
INNER JOIN rental r ON r.customer_id = c.customer_id \
INNER JOIN inventory i ON i.inventory_id = r.inventory_id \
INNER JOIN film f ON f.film_id = i.film_id \
GROUP BY c.customer_id \
HAVING SUM(f.length) > 60*200 \
ORDER BY c.customer_id \
',con=connection)
print('Klienci ogladajacy ponad 200 godzin:\n',df)

df = pd.read_sql('\
SELECT c.customer_id, c.first_name, c.last_name, SUM(f.length)/60 "watching time (hours)" FROM customer c \
INNER JOIN rental r ON r.customer_id = c.customer_id \
INNER JOIN inventory i ON i.inventory_id = r.inventory_id \
INNER JOIN film f ON f.film_id = i.film_id \
GROUP BY c.customer_id \
HAVING SUM(f.length)/60 > 75 \
ORDER BY "watching time (hours)", c.customer_id \
',con=connection)
print('\nKlienci ogladajacy ponad 75 godzin:\n',df)

Klienci ogladajacy ponad 200 godzin:
 Empty DataFrame
Columns: [customer_id, first_name, last_name, watching time (minutes)]
Index: []

Klienci ogladajacy ponad 75 godzin:
    customer_id first_name last_name  watching time (hours)
0          119     Sherry  Marshall                     76
1          178     Marion    Snyder                     76
2          380    Russell   Brinson                     77
3          236     Marcia      Dean                     78
4          144      Clara      Shaw                     80
5          469     Wesley      Bull                     80
6           75      Tammy   Sanders                     84
7          148    Eleanor      Hunt                     89
8          526       Karl      Seal                     89

/home/kuba/anaconda3/envs/jakubbajek/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/home/kuba/anaconda3/envs/jakubbajek/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

**Zadanie 8** Oblicz średnią wartość wypożyczenia filmu.<br>
W mainie było pytanie o średnią wartość dla zadanej długości filmów, z przykładowej linijki wywnioskowałem, że chodzi o średnią kwotę jaką trzeba zapłacić za wypożyczenie filmów o tej długości za jeden film.<br>
Tutaj jest pytanie o obliczenie dla wszystkich filmów, co pokryłoby się z zadaniem 3, dlatego w zadaniu obliczę średni rental_rate dla wszystkich filmów, wydaje mi się to najbardziej odpowiednie do pytania

In [235]:
df = pd.read_sql('\
SELECT AVG(rental_rate) "Average rental rate" FROM film\
',con=connection)
print(df)

   Average rental rate
0                 2.98

**Zadanie 9** Oblicz średnią wartość długości filmu we wszystkich kategoriach.

In [241]:
df = pd.read_sql('\
SELECT c.name category, AVG(f.length) "avg length (min)" from film f \
INNER JOIN film_category fc ON fc.film_id = f.film_id \
INNER JOIN category c ON c.category_id = fc.category_id \
GROUP BY category \
ORDER BY category \
',con=connection)
print(df)

       category  avg length (min)
0        Action        111.609375
1     Animation        111.015152
2      Children        109.800000
3      Classics        111.666667
4        Comedy        115.827586
5   Documentary        108.750000
6         Drama        120.838710
7        Family        114.782609
8       Foreign        121.698630
9         Games        127.836066
10       Horror        112.482143
11        Music        113.647059
12          New        111.126984
13       Sci-Fi        108.196721
14       Sports        128.202703
15       Travel        113.315789

/home/kuba/anaconda3/envs/jakubbajek/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

**Zadanie 10** Znajdź najdłuższe tytuły filmowe we wszystkich kategoriach. <br>
W niektórych kategoriach więcej niż jeden tytuł jest najdłuższy <br>
W zadaniu wykorzystałem zagnieżdżone zapytanie SELECT do stworzenia tablicy z pogrupowaną według *category_id* największą długością tytułu (max liczba znaków) <br>
Następnie przyłączyłem do niej pasujący tytuł na podstawie *category_id* i tej największej ilości znaków

In [40]:
df = pd.read_sql('\
SELECT c.name category, f.title "longest title" FROM(\
    SELECT fc.category_id cid, MAX(LENGTH(f.title)) max from film f \
    INNER JOIN film_category fc ON fc.film_id = f.film_id \
    GROUP BY cid \
    ) AS subquery \
INNER JOIN category c ON c.category_id = subquery.cid \
INNER JOIN film_category fc ON fc.category_id = c.category_id \
INNER JOIN film f ON f.film_id = fc.film_id AND LENGTH(f.title) = subquery.max \
ORDER BY category, "longest title"\
',con=connection)
print(df)

       category                longest title
0        Action      Entrapment Satisfaction
1     Animation       Telemark Heartbreakers
2      Children         Heartbreakers Bright
3      Children         Microcosmos Paradise
4      Children         Sweethearts Suspects
5      Classics      Extraordinary Conquerer
6        Comedy      Trainspotting Strangers
7   Documentary       Deliverance Mulholland
8   Documentary       Intolerable Intentions
9         Drama       Goldfinger Sensibility
10       Family       Resurrection Silverado
11      Foreign         Ballroom Mockingbird
12      Foreign         Impossible Prejudice
13      Foreign         Reservoir Adaptation
14        Games        Bulworth Commandments
15        Games        Creatures Shakespeare
16       Horror  Arachnophobia Rollercoaster
17        Music       Confidential Interview
18          New        Flamingos Connecticut
19       Sci-Fi         Barbarella Streetcar
20       Sci-Fi         Cincinatti Whisperer
21       Sci-Fi         Silverado Goldfinger
22       Sci-Fi         Unforgiven Zoolander
23       Sci-Fi         Wonderland Christmas
24       Sports    Satisfaction Confidential
25       Travel      Desperate Trainspotting

/home/kuba/anaconda3/envs/jakubbajek/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

**Zadanie 11** Znajdź najdłuższy film we wszystkich kategoriach. Porównaj wynik z pkt 10. <br> Wyniki różnią się tak jak powinny. Nauczyło mnie to, że MAX(string) zwraca nie najdłuższą wartość, a alfabetycznie ostatnią

In [55]:
df = pd.read_sql('\
SELECT c.name category, f.title "longest film", subquery.max "length (min)", subquery.max / CAST(60 AS float) "length (hours)" FROM(\
    SELECT fc.category_id cid, MAX(f.length) max from film f \
    INNER JOIN film_category fc ON fc.film_id = f.film_id \
    GROUP BY cid \
    ) AS subquery \
INNER JOIN category c ON c.category_id = subquery.cid \
INNER JOIN film_category fc ON fc.category_id = c.category_id \
INNER JOIN film f ON f.film_id = fc.film_id AND f.length = subquery.max \
ORDER BY category, "longest film"\
',con=connection)
print(df)

       category        longest film  length (min)  length (hours)
0        Action      Darn Forrester           185        3.083333
1        Action        Worst Banger           185        3.083333
2     Animation         Gangs Pride           185        3.083333
3     Animation        Pond Seattle           185        3.083333
4      Children         Fury Murder           178        2.966667
5      Children      Wrong Behavior           178        2.966667
6      Classics   Conspiracy Spirit           184        3.066667
7        Comedy      Control Anthem           185        3.083333
8   Documentary           Wife Turn           183        3.050000
9   Documentary      Young Language           183        3.050000
10        Drama       Jacket Frisco           181        3.016667
11       Family      King Evolution           184        3.066667
12      Foreign    Crystal Breaking           184        3.066667
13      Foreign      Sorority Queen           184        3.066667
14        Games       Chicago North           185        3.083333
15       Horror    Analyze Hoosiers           181        3.016667
16       Horror       Love Suicides           181        3.016667
17        Music           Home Pity           185        3.083333
18          New      Frontier Cabin           183        3.050000
19       Sci-Fi  Soldiers Evolution           185        3.083333
20       Sports     Smoochy Control           184        3.066667
21       Travel       Muscle Bright           185        3.083333
22       Travel   Sweet Brotherhood           185        3.083333

## Zadanie implementacyjne
Zaimplementuj wszystkie funkcje w pliku main.py zgodnie z opisem a następnie przetestuj je w notatniku.

In [53]:
import main

In [59]:
print(main.film_in_category(3))

                   title               languge  category
0    Backlash Undefeated  English               Children
1         Bear Graceland  English               Children
2           Beneath Rush  English               Children
3          Betrayed Rear  English               Children
4            Cabin Flash  English               Children
5       Casper Dragonfly  English               Children
6    Christmas Moonshine  English               Children
7           Circus Youth  English               Children
8     Clockwork Paradise  English               Children
9      Comancheros Enemy  English               Children
10       Crooked Frogmen  English               Children
11      Daughter Madigan  English               Children
12          Doctor Grail  English               Children
13      Empire Malkovich  English               Children
14          Fargo Gandhi  English               Children
15     Forever Candidate  English               Children
16       Full Flatliners  English               Children
17           Fury Murder  English               Children
18       Ghost Groundhog  English               Children
19        Giant Troopers  English               Children
20        Gorgeous Bingo  English               Children
21         Graduate Lord  English               Children
22          Hall Cassidy  English               Children
23  Heartbreakers Bright  English               Children
24   Hollywood Anonymous  English               Children
25    Holocaust Highball  English               Children
26       Idols Snatchers  English               Children
27      Invasion Cyclone  English               Children
28          Jersey Sassy  English               Children
29         Jumping Wrath  English               Children
30      Labyrinth League  English               Children
31       Language Cowboy  English               Children
32     Legally Secretary  English               Children
33        Magic Mallrats  English               Children
34          Maker Gables  English               Children
35  Microcosmos Paradise  English               Children
36            Model Fish  English               Children
37      Murder Antitrust  English               Children
38             Noon Papi  English               Children
39       Polish Brooklyn  English               Children
40          Robbers Joon  English               Children
41      Sabrina Midnight  English               Children
42           Santa Paris  English               Children
43         Scarface Bang  English               Children
44    Shepherd Midsummer  English               Children
45         Sister Freddy  English               Children
46       Splendor Patton  English               Children
47    Strangelove Desire  English               Children
48    Stranger Strangers  English               Children
49     Sundance Invasion  English               Children
50  Sweethearts Suspects  English               Children
51          Tequila Past  English               Children
52           Ties Hunger  English               Children
53         Tootsie Pilot  English               Children
54       Twisted Pirates  English               Children
55          Uptown Young  English               Children
56          Walls Artist  English               Children
57      Warlock Werewolf  English               Children
58        Wrong Behavior  English               Children
59     Zoolander Fiction  English               Children

/home/kuba/anaconda3/envs/jakubbajek/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [60]:
print(main.number_films_in_category(3))

   category  count
0  Children     60

/home/kuba/anaconda3/envs/jakubbajek/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [67]:
print(main.number_film_by_length(89,106))

    length  count
0       89      6
1       90      5
2       91      6
3       92     11
4       93      8
5       94      4
6       95      2
7       96      2
8       97      4
9       98      8
10      99      8
11     100     12
12     101      7
13     102     11
14     103      9
15     104      6
16     105      6
17     106      6

/home/kuba/anaconda3/envs/jakubbajek/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [72]:
print(main.client_from_city('York'))
print()
print(main.client_from_city('Athenai'))

   city first_name last_name
0  York    Gilbert    Sledge

      city first_name last_name
0  Athenai      Linda  Williams

/home/kuba/anaconda3/envs/jakubbajek/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/home/kuba/anaconda3/envs/jakubbajek/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [75]:
print(main.avg_amount_by_length(48))

   length       avg
0      48  4.295389

/home/kuba/anaconda3/envs/jakubbajek/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [76]:
print(main.client_by_sum_length(1265))

      first_name     last_name   sum
0          Brian         Wyman  1265
1        Antonio          Meek  1451
2          Leona        Obrien  1588
3      Katherine        Rivera  1615
4        Tiffany        Jordan  1667
5         Jerome        Kenyon  1679
6          Penny          Neal  1738
7         Lonnie        Tirado  1834
8         Dwight      Lombardi  1846
9         Johnny        Turpin  1846
10      Caroline        Bowman  1847
11         Allan       Cornish  1916
12         Lewis         Lyman  1933
13        Lester         Kraus  1943
14           Eva         Ramos  1945
15        Austin       Cintron  1961
16         Joann       Gardner  1963
17         Annie       Russell  1965
18      Jonathan   Scarborough  1984
19         Anita       Morales  1999
20        Eileen          Carr  2031
21       Kenneth        Gooden  2033
22         Wayne        Truong  2044
23         Floyd         Gandy  2063
24         Paula        Bryant  2084
25        Nellie       Garrett  2098
26       Vanessa          Sims  2103
27            Jo        Fowler  2107
28         Ruben         Geary  2107
29         Oscar        Aquino  2119
30        Nelson   Christenson  2119
31          Irma       Pearson  2128
32       Kristen        Chavez  2130
33           Kay      Caldwell  2133
34       Armando        Gruber  2142
35        Sheila         Wells  2148
36        Eugene     Culpepper  2158
37     Christina       Ramirez  2178
38      Jeanette        Greene  2197
39           Ann         Evans  2202
40          Rose        Howard  2208
41         Edith      Mcdonald  2210
42          Raul       Fortier  2212
43         Lloyd          Dowd  2231
44           Kim          Cruz  2236
45        Bonnie        Hughes  2241
46         Julio        Noland  2258
47          Kirk       Stclair  2258
48        Vernon         Chapa  2270
49        Nicole      Peterson  2271
50         Norma      Gonzales  2272
51          Vera         Mccoy  2275
52       Melinda     Fernandez  2281
53       Willard       Lumpkin  2285
54        Samuel        Marlow  2291
55        Leslie        Gordon  2296
56          Jill       Hawkins  2313
57         Jared           Ely  2314
58       Frances        Parker  2317
59         Henry   Billingsley  2325
60         Allen   Butterfield  2329
61       Timothy          Bunn  2334
62       Alfredo       Mcadams  2357
63         Corey        Hauser  2358
64      Franklin      Troutman  2366
65     Frederick        Isbell  2367
66          Sean      Douglass  2376
67        Daniel        Cabral  2380
68          Luis         Yanez  2380
69         Laura     Rodriguez  2384
70      Lorraine      Stephens  2388
71         Kelly        Torres  2397
72         Tyler          Wren  2404
73       Delores        Hansen  2413
74       Roberta        Harper  2417
75     Francisco      Skidmore  2417
76         Carol        Garcia  2425
77          Tony      Carranza  2437
78          Adam         Gooch  2437
79          Joel     Francisco  2440
80        Pamela         Baker  2455
81        Lauren        Hudson  2462
82         Terry       Grissom  2464
83          Chad       Carbone  2473
84          Toni          Holt  2474
85         Chris      Brothers  2475
86        Rafael         Abney  2477
87        Darryl      Ashcraft  2477
88         Irene         Price  2480
89        Adrian         Clary  2483
90         Jacob         Lance  2483
91        Andrea     Henderson  2487
92          Anne        Powell  2490
93          Juan        Fraley  2495
94       Derrick       Bourque  2497
95         Jesus     Mccartney  2500
96       Anthony        Schwab  2503
97        Robert      Baughman  2504
98        Yvonne       Watkins  2513
99        Alicia         Mills  2518
100       Carlos      Coughlin  2522
101         Anna          Hill  2522
102      Herbert        Kruger  2534
103       Donald         Mahon  2538
104         Hugh       Waldrop  2540
105       Rachel        Barnes  2543
106      Francis         Sikes  2547
107      Randall       Neumann  2552
108        Kevin       Schuler  2552
109          Jon         Wiles  2552
110          Sam      Mcduffie  2576
111       Mattie       Hoffman  2580
112      Barbara         Jones  2580
113         Judy          Gray  2581
114        Peggy         Myers  2590
115       Harvey      Guajardo  2593
116        Lance     Pemberton  2593
117      Beverly        Brooks  2607
118        Peter        Menard  2609
119        Cecil         Vines  2614
120     Marshall         Thorn  2616
121        Danny          Isom  2619
122       Laurie      Lawrence  2619
123       Stella        Moreno  2632
124         Tara          Ryan  2634
125         Fred         Wheat  2634
126        Brent       Harkins  2639
127       Albert        Crouse  2641
128        Wilma      Richards  2641
129    Christine       Roberts  2641
130        Pearl         Garza  2642
131         Rene     Mcalister  2643
132         Carl         Artis  2644
133      Melanie     Armstrong  2645
134      Chester        Benner  2646
135        Shane       Millard  2649
136       Vivian          Ruiz  2649
137         Jose        Andrew  2654
138        Marie        Turner  2656
139      Phyllis        Foster  2658
140       Lillie           Kim  2658
141       Bertha      Ferguson  2663
142       Alfred      Casillas  2665
143      Colleen        Burton  2668
144         Ruth      Martinez  2669
145         Kurt        Emmons  2672
146       Miriam      Mckinney  2672
147       Mathew         Bolin  2673
148       Jeremy       Hurtado  2673
149         Andy       Vanhorn  2675
150      Dolores        Wagner  2677
151      Shannon       Freeman  2678
152      Jeffrey         Spear  2678
153     Margaret         Moore  2680
154      Maureen        Little  2681
155    Josephine         Gomez  2682
156       Rodney       Moeller  2682
157      Vincent       Ralston  2684
158     Victoria        Gibson  2685
159       Martin         Bales  2689
160      Freddie        Duggan  2689
161        Aaron         Selby  2691
162       Travis         Estep  2694
163       Roland         South  2695
164        Emily          Diaz  2699
165      Kathryn       Coleman  2701
166        Lydia         Burke  2703
167       Norman       Currier  2706
168        Donna      Thompson  2710
169         Cody         Nolen  2711
170      Natalie         Meyer  2712
171          Bob      Pfeiffer  2719
172          Leo         Ebert  2725
173        Erica      Matthews  2727
174        Velma         Lucas  2729
175       Calvin        Martel  2730
176       Thomas       Grigsby  2731
177        Megan        Palmer  2732
178        Agnes        Bishop  2741
179     Charlene       Alvarez  2743
180       Howard       Fortner  2744
181       Ronnie      Ricketts  2748
182        Pedro      Chestnut  2750
183          Dan         Paine  2750
184      Suzanne       Nichols  2751
185        Kelly         Knott  2753
186       Marian       Mendoza  2753
187        Doris          Reed  2756
188      Annette         Olson  2759
189      Bernard         Colby  2760
190         Emma          Boyd  2767
191       Bobbie         Craig  2767
192       Darren       Windham  2778
193      Alberto       Henning  2779
194       Dwayne        Olvera  2782
195       Brandy        Graves  2785
196         Jack         Foust  2790
197        Felix       Gaffney  2791
198          Ray         Houle  2791
199        Carla     Gutierrez  2793
200       Deanna          Byrd  2795
201       Connie       Wallace  2795
202         Wade      Delvalle  2804
203      Loretta     Carpenter  2807
204        Robin         Hayes  2807
205        Bruce       Schwarz  2813
206      Dorothy        Taylor  2813
207      Ricardo        Meador  2818
208      Gregory       Mauldin  2822
209    Charlotte        Hunter  2828
210        Elmer           Noe  2828
211        Jesse     Schilling  2830
212    Christian          Jung  2831
213       Tyrone         Asher  2833
214      Johnnie      Chisholm  2835
215      Clinton        Buford  2839
216         Paul         Trout  2842
217         Edna          West  2847
218        Edwin          Burk  2849
219         Joan        Cooper  2850
220       Myrtle       Fleming  2852
221         Dora        Medina  2852
222      Micheal        Forman  2853
223      Marlene         Welch  2854
224        Jenny        Castro  2855
225       Billie        Horton  2855
226      Claudia        Fuller  2856
227      William   Satterfield  2856
228      Pauline         Henry  2857
229       Sergio     Stanfield  2859
230       Jackie         Lynch  2863
231         Leon        Bostic  2864
232         Gary           Coy  2865
233       Louise       Jenkins  2866
234       Willie        Howell  2876
235         Seth        Hannon  2877
236          Max          Pitt  2877
237         Earl        Shanks  2877
238        David         Royal  2879
239        Keith          Rico  2880
240        Larry      Thrasher  2881
241      Rebecca         Scott  2885
242       Willie       Markham  2887
243    Gwendolyn           May  2890
244         Cory        Meehan  2894
245     Fernando     Churchill  2897
246     Benjamin        Varney  2897
247         Glen       Talbert  2898
248         Lynn         Payne  2906
249         Tina       Simmons  2906
250         Jean          Bell  2907
251        Scott       Shelley  2916
252      Georgia        Jacobs  2922
253       Ernest         Stepp  2924
254         Nora       Herrera  2925
255        Jerry        Jordon  2925
256          Ida       Andrews  2927
257       Dennis        Gilman  2927
258         Rita        Graham  2929
259       Sidney      Burleson  2931
260         Dana          Hart  2931
261          Don          Bone  2934
262         Leah        Curtis  2935
263       Marvin           Yee  2939
264       Herman        Devore  2941
265      Yolanda        Weaver  2946
266    Constance          Reid  2949
267       Victor       Barkley  2950
268       Milton       Howland  2951
269       Julian          Vest  2955
270        Katie       Elliott  2960
271      Lillian       Griffin  2960
272        Stacy    Cunningham  2963
273     Kimberly           Lee  2965
274        Vicki        Fields  2966
275      Charlie          Bess  2967
276      Wallace         Slone  2969
277       Virgil       Wofford  2970
278        Linda      Williams  2971
279      Mildred        Bailey  2972
280     Jennifer         Davis  2973
281      Darrell         Power  2973
282        Ellen       Simpson  2977
283       Elaine       Stevens  2981
284     Samantha        Duncan  2982
285        Terri       Vasquez  2982
286          Ron        Deluca  2983
287        Edgar        Rhoads  2983
288       Melvin     Ellington  2988
289         Erin          Dunn  2989
290      Clayton        Barbee  2990
291       Claude        Herzog  2996
292       Carmen         Owens  2996
293      Phillip          Holm  3002
294     Kathleen         Adams  3003
295        Diana     Alexander  3007
296        Mario      Cheatham  3007
297    Stephanie      Mitchell  3008
298         Gail        Knight  3009
299      Eduardo         Hiatt  3011
300       Cheryl        Murphy  3014
301       Tamara        Nguyen  3020
302       Dianne       Shelton  3026
303        Glenn        Pullen  3029
304        Perry      Swafford  3036
305        April         Burns  3042
306         Eric        Robert  3042
307       Shelly         Watts  3042
308      Christy        Vargas  3045
309        Nancy        Thomas  3048
310         Lisa      Anderson  3049
311         Ivan      Cromwell  3052
312      Enrique      Forsythe  3052
313         Mark      Rinehart  3054
314     Kristina      Chambers  3056
315       Arlene        Harvey  3056
316      Douglas          Graf  3057
317         Alan          Kahn  3059
318        Bryan      Hardison  3067
319     Patricia       Johnson  3071
320      Valerie         Black  3075
321         Greg        Robins  3076
322        Jamie         Waugh  3076
323       Ashley    Richardson  3079
324        Hilda       Hopkins  3080
325       Hector    Poindexter  3086
326         Bill         Gavin  3087
327      Matthew         Mahan  3089
328       Brenda        Wright  3092
329      Bradley        Motley  3094
330      Gabriel        Harder  3097
331     Terrance         Roush  3100
332        Karen       Jackson  3103
333       Evelyn        Morgan  3104
334        Eddie        Tomlin  3104
335      Gilbert        Sledge  3107
336       Denise         Kelly  3109
337     Beatrice        Arnold  3112
338          Ben        Easter  3112
339         Beth      Franklin  3112
340      Michele         Grant  3113
341        Jaime       Nettles  3116
342       Amanda        Carter  3118
343         Jane       Bennett  3119
344      Lucille        Holmes  3124
345      Richard       Mccrary  3128
346       Steven        Curley  3130
347        Randy       Gaither  3132
348      Allison       Stanley  3135
349          Ian         Still  3136
350         Brad       Mccurdy  3145
351      Michael     Silverman  3145
352         Ruby    Washington  3145
353        Leroy    Bustamante  3154
354       Jordan     Archuleta  3159
355       Jessie         Banks  3159
356         Gene       Sanborn  3164
357       Gloria          Cook  3166
358      Clifton       Malcolm  3169
359        Cathy       Spencer  3170
360        Sonia       Gregory  3177
361        Ricky        Shelby  3178
362       Jennie         Terry  3184
363     Clifford        Bowens  3191
364       Tracey       Barrett  3192
365      Felicia        Sutton  3192
366     Clarence         Gamez  3193
367        Susan        Wilson  3208
368       Carole       Barnett  3215
369     Reginald        Kinder  3230
370          Jay          Robb  3233
371         Dale      Ratcliff  3235
372          Joe     Gilliland  3238
373        Byron           Box  3240
374         Rick        Mattox  3243
375        Joyce       Edwards  3244
376        Andre          Rapp  3252
377         Lucy       Wheeler  3252
378         Ross          Grey  3262
379          Ken       Prewitt  3262
380          Ted        Breaux  3263
381       Javier         Elrod  3263
382        Clyde        Tobias  3265
383        Amber         Dixon  3266
384        Erika          Pena  3266
385      Deborah        Walker  3272
386      Jeffery        Pinson  3274
387       Philip        Causey  3279
388     Theodore          Culp  3279
389       Nathan        Runyon  3282
390       Dustin      Gillette  3283
391         Nina          Soto  3284
392          Lee         Hawks  3286
393     Salvador          Teel  3296
394       Jimmie     Eggleston  3300
395       Edward         Baugh  3302
396       Joshua          Mark  3302
397         Kent     Arsenault  3305
398       Bessie      Morrison  3306
399          Guy      Brownlee  3309
400       Andrew         Purdy  3315
401       Esther      Crawford  3320
402         Erik       Guillen  3320
403        Derek       Blakely  3321
404        Jimmy      Schrader  3326
405         Dawn      Sullivan  3326
406        Terry       Carlson  3347
407       Ronald        Weiner  3354
408        Duane         Tubbs  3355
409     Danielle       Daniels  3358
410       Sandra        Martin  3360
411        Misty       Lambert  3366
412        Becky         Miles  3366
413         Dean         Sauer  3366
414      Theresa        Watson  3375
415         Olga       Jimenez  3381
416         Marc        Outlaw  3386
417       Joseph           Joy  3389
418    Nathaniel          Adam  3394
419         Todd           Tan  3398
420       Teresa        Rogers  3403
421          Roy       Whiting  3409
422     Veronica         Stone  3410
423        Betty         White  3412
424     Virginia         Green  3414
425       Miguel    Betancourt  3415
426     Lawrence        Lawton  3415
427      Patrick        Newsom  3415
428      Leonard     Schofield  3418
429      Carolyn         Perez  3419
430        Alvin       Deloach  3420
431        Isaac       Oglesby  3424
432      Juanita         Mason  3434
433    Cassandra       Walters  3435
434      Everett         Banda  3436
435        Kathy         James  3439
436        Wanda     Patterson  3446
437         Troy       Quigley  3446
438         Gina    Williamson  3446
439        James        Gannon  3448
440        Tracy      Herrmann  3448
441      Marilyn          Ross  3449
442     Brittany         Riley  3450
443        Debra        Nelson  3452
444        Tracy          Cole  3453
445       Marcus       Hidalgo  3457
446        Ramon        Choate  3459
447       Arthur      Simpkins  3463
448      Maurice       Crawley  3469
449       Monica         Hicks  3470
450        Janet      Phillips  3475
451       Audrey           Ray  3477
452       Vickie        Brewer  3484
453        Daryl         Larue  3488
454        Maria        Miller  3494
455    Geraldine       Perkins  3497
456        Alice       Stewart  3499
457        Craig       Morrell  3502
458       Manuel       Murrell  3504
459       Jeanne        Lawson  3508
460        Angel       Barclay  3510
461       Marion        Ocampo  3512
462        Patsy      Davidson  3513
463        Julia        Flores  3513
464      Roberto            Vu  3513
465       Judith           Cox  3515
466       Sharon      Robinson  3522
467         Sara         Perry  3524
468       Harold       Martino  3525
469        Renee          Lane  3536
470       Walter      Perryman  3538
471         Jeff          East  3542
472       Joanne     Robertson  3550
473          Tom        Milner  3561
474     Courtney           Day  3563
475      Heather        Morris  3567
476       Sylvia         Ortiz  3567
477         Alma        Austin  3568
478       Ramona          Hale  3568
479       Gladys      Hamilton  3571
480        Wendy      Harrison  3571
481       Violet     Rodriquez  3576
482       Jessie         Milam  3579
483          Amy         Lopez  3583
484          Joy        George  3596
485      Stephen        Qualls  3597
486       Debbie         Reyes  3597
487    Priscilla          Lowe  3606
488        Cindy        Fisher  3636
489       Gerald         Fultz  3640
490        Billy        Poulin  3649
491       Glenda       Frazier  3657
492        Shawn        Heaton  3657
493      Shirley         Allen  3662
494         Lena        Jensen  3663
495    Catherine      Campbell  3666
496        Jamie          Rice  3674
497        Sarah         Lewis  3679
498       Maxine         Silva  3682
499         Kyle      Spurlock  3686
500        Holly           Fox  3689
501       George        Linton  3689
502     Terrence     Gunderson  3694
503      Stanley     Scroggins  3694
504        Tanya       Gilbert  3700
505      Charles      Kowalski  3703
506      Raymond     Mcwhorter  3708
507         Lori          Wood  3713
508         Ryan     Salisbury  3717
509        Jason     Morrissey  3718
510         John    Farnsworth  3722
511     Mitchell  Westmoreland  3736
512        Ralph      Madrigal  3737
513      Darlene          Rose  3745
514          Jim           Rea  3749
515       Arnold        Havens  3752
516          Ana       Bradley  3760
517         Lois        Butler  3762
518        Sally        Pierce  3762
519        Mabel       Holland  3770
520      Zachary          Hite  3771
521     Florence         Woods  3775
522         Rosa      Reynolds  3779
523       Carrie        Porter  3790
524       Stacey    Montgomery  3791
525        Viola        Hanson  3794
526        Julie       Sanchez  3808
527        Ethel          Webb  3810
528        Helen        Harris  3818
529          Mae      Fletcher  3828
530       Morris      Mccarter  3829
531     Nicholas      Barfield  3836
532   Jacqueline          Long  3855
533         Alex       Gresham  3857
534         Neil        Renner  3879
535        Casey          Mena  3891
536       Leslie        Seward  3891
537      Bernice        Willis  3892
538      Crystal          Ford  3894

/home/kuba/anaconda3/envs/jakubbajek/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [78]:
print(main.category_statistic_length('Action'))
print()
print(main.category_statistic_length('Children'))

  category         avg   sum  min  max
0   Action  111.609375  7143   47  185

   category    avg   sum  min  max
0  Children  109.8  6588   46  178

/home/kuba/anaconda3/envs/jakubbajek/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/home/kuba/anaconda3/envs/jakubbajek/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(